<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>mypack.First</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstExisting</servlet-name>
        <servlet-class>mypack.FirstExisting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>mypack.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBinsert</servlet-name>
        <servlet-class>mypack.DBinsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindMatch</servlet-name>
        <servlet-class>mypack.FindMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showemails</servlet-name>
        <servlet-class>mypack.showemails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBupdate</servlet-name>
        <servlet-class>mypack.DBupdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/First</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstExisting</servlet-name>
        <url-pattern>/FirstExisting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBinsert</servlet-name>
        <url-pattern>/DBinsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindMatch</servlet-name>
        <url-pattern>/FindMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showemails</servlet-name>
        <url-pattern>/showemails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBupdate</servlet-name>
        <url-pattern>/DBupdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
